
body{
    color: #444;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin: 2em 15em;
    box-shadow: 0 0 10px 2px #b9b6b6c0;
}


.header{
    background-color: #b9b6b6c0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
.header input{
    width: 20em;
    margin-bottom: 2em;
    padding: 1%;
    border: none;
    outline: none;
}
input:focus{
    outline: 2px solid #9361bf;
}
.book-row{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}
.book{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stick{
    background-color: #b9b6b6c0;
    padding: 0;
    width: 0.5em;
    margin: 0;
    border: none;
}

.book-list{
    margin: 2em;
}
.delete-btn{
    height: 2em;
    width: 5em;
    background-color: #9361bf;
    border: none;
    color: white;
    border-radius: 0.5em;
}
.add-book{
    display: flex;
    justify-content: center;
    /* gap: 1em; */
}
.add-book input{
    padding: 1em;
    border:2px solid #b9b6b6c0;
}


.add-book{
    margin-bottom: 2em;
}

.add-book button{
    background-color: #9361bf;
    width: 4em;
    border: none;
    padding: 1em;
    width: 8em;
    color: white;
}